@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul li{
  list-style-type: none;
}

body{
  font-family: 'Inter Tight', sans-serif;
  background: rgba(128, 128, 128, .2);
}

header{
  border: 1px solid rgb(219, 12, 12);
  width: 70%;
  height: auto;
  margin: auto;
  /* padding: 5px; */
  background: #fff;
}

header nav{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #252525;
  justify-content: space-between;
  padding: 0 20px;
}

header nav h5{
  border: 1px solid greenyellow;
}

header nav h5 span{
  color: orangered;
}

header nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  border: 1px solid greenyellow;
}

header nav ul li{
  border: 1px solid orangered;
  padding: 3px 0 3px 30px;
}

header nav ul li a{
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, .7);
  transition: 0.3s linear;
}

header nav ul li a:hover {
  color: rgba(0, 0, 0);
}

header nav ul li a i{
  font-size: 13px;
  margin-right: 3px;
}

/* .BRAND-NAV */
.brand-nav{
  border: 1px solid rgb(247, 195, 46);
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0);
  color: #fff;
}

.brand-nav ul{
  width: 100%;
  height: 100%;
  border: 1px solid orangered;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s linear;
  padding: 0 20px;
}

.brand-nav ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s linear;
  height: 100%;
}

.brand-nav ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;  
}

.brand-nav__item{
  font-size: 13px;
  color: rgba(193, 193, 193, .5);
}

.brand-nav__item:hover{
  color: #fff;
}

.border{
  border: 1px solid white;
}

.brand-nav ul li i{
  margin-left: 6px;
  transition: 0.3s linear;
}

.brand-nav ul li:nth-last-child(1) i{
  color: orangered;
}

.brand-nav ul li img{
  width: 60px;
}

.brand-nav ul li:nth-child(2){
  background: orangered;
  width: 130px;
}

.brand-nav ul li:nth-child(4) {
  width: 130px;
}

.brand-nav ul li:nth-child(2):hover {
  background: orangered;
}

.brand-nav ul li:nth-child(4):hover {
  background: orangered;
}

.brand-nav ul li:nth-child(1) .select_bx{
  position: absolute;
  top: 100%;
  width: 90px;
  height: 0px;
  background: orangered;
  padding: 10px;
  border-radius: 5px;
  z-index: 999999;
  box-shadow: 0px 0px 20px rgb(0, 0, 0,.5);
  overflow: hidden;
  transition: 1s linear;
  opacity: 0;
}

.brand-nav ul li:nth-child(1) .select_bx h5{
  padding: 5px 0;
}

.brand-nav ul li:nth-child(1) .select_bx_active{
  height: 100px;
  opacity: 1;
}

/* второе меню стили */
.brand-nav .li_bx{
  width: 100%;
  height: auto;
  background: orangered;
  padding: 8px 0;
}

.brand-nav .li_bx li{
  color: #fff;
  font-size: 12px;
  transition: 0.3s linear;
  cursor: pointer;
}

.brand-nav .li_bx li:hover{
  color: rgba(0, 0, 0, .5);
}

/* section */
section{
  width: 70%;
  height: auto;
  display: flex;
  border: 1px solid #252525;
  margin: 34px  auto 0px auto;
  background: #fff;
}

section aside , .shoes_bx{
  width: 82%;
  height: auto;
  /* border: 1px solid greenyellow; */
}

section aside{
  width: 18%;
  border: 1px solid rebeccapurple;
}

section .shoes_bx{
  padding: 0 30px;
}

section .shoes_bx nav{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0,.1);
}

section .shoes_bx nav h6 i{
  margin: 0 10px;
}

section .shoes_bx nav h6 span{
  color: grey;
}

section .shoes_bx section{
  width: 100%;
  height: 40px;
  margin: 0;
  margin-top: 15px;
}

section .shoes_bx section .title_sortby{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .shoes_bx section .title_sortby h4{
  font-weight: 600;
}

section .shoes_bx section .title_sortby .select_sortby{
  position: relative;
}

section .shoes_bx section .title_sortby .select_sortby button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 10px;
  width: 150px;
  background: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
}

section .shoes_bx section .title_sortby .select_sortby button i{
  font-size: 10px;
  color: gray;
}

section .shoes_bx section .title_sortby .select_sortby .sortby_opt{
  position: absolute;
  width: 150px;
  height: 0px;
  padding: 5px 10px 10px 10px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  transition: 0.3s linear;
  opacity: 0;
}

section .shoes_bx section .title_sortby .select_sortby .sortby_opt li{
  list-style: none;
  padding: 5px 0;
  margin-top: 5px;
  background: rgb(0, 0, 0, .1);
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s linear;
}

section .shoes_bx section .title_sortby .select_sortby .sortby_opt li:hover{
  background: #000;
  color: #fff;
}

section .shoes_bx section .title_sortby .select_sortby .sortby_opt_active{
  height: 150px;
  opacity: 1;
  z-index: 99999999999999;
}

section .shoes_bx .main_shoes_bx{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid orange;
}

section .shoes_bx .main_shoes_bx .card{
  position: relative;
  width: 170px;
  height: 260px;
  /* border: 1px solid gray; */
  margin: 5px 5px 25px 0;
  text-decoration: none;
  transition: 0.3s linear;
  padding: 10px;
}

section .shoes_bx .main_shoes_bx .card:hover{
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.1);
  border-radius: 5px;
}

section .shoes_bx .main_shoes_bx .card img{
  width: 100%;
  height: 150px;
}

section .shoes_bx .main_shoes_bx .card .card_title{
  font-size: 11px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
}

section .shoes_bx .main_shoes_bx .card p{
  font-size: 11px;
  font-weight: 500;
  color: gray;
}

section .shoes_bx .main_shoes_bx .card .price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

section .shoes_bx .main_shoes_bx .card .price h5{
  font-size: 11px;
  color: #000;
}

section .shoes_bx .main_shoes_bx .card .price h5:nth-child(2){
  color: gray;
  font-size: 11px;
  font-weight: 400;
}

section .shoes_bx .main_shoes_bx .card .color_tag{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  border-top: 1px solid rgb(0, 0, 0, .1);
}

section .shoes_bx .main_shoes_bx .card .color_tag h6{
  font-size: 8.5px;
  margin-top: 3px;
  color: gray;
}

section .shoes_bx .main_shoes_bx .card .color_tag h6:nth-child(2){
  color: orangered;
}
