@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul li{
  list-style-type: none;
}

body{
  font-family: 'Inter Tight', sans-serif;
  background: rgba(128, 128, 128, .2);
}

header{
  border: 1px solid rgb(219, 12, 12);
  width: 70%;
  height: auto;
  margin: auto;
  /* padding: 5px; */
  background: #fff;
}

header nav{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #252525;
  justify-content: space-between;
  padding: 0 20px;
}

header nav h5{
  border: 1px solid greenyellow;
}

header nav h5 span{
  color: orangered;
}

header nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  border: 1px solid greenyellow;
}

header nav ul li{
  border: 1px solid orangered;
  padding: 3px 0 3px 30px;
}

header nav ul li a{
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, .7);
  transition: 0.3s linear;
}

header nav ul li a:hover {
  color: rgba(0, 0, 0);
}

header nav ul li a i{
  font-size: 13px;
  margin-right: 3px;
}

/* .BRAND-NAV */
.brand-nav{
  border: 1px solid rgb(247, 195, 46);
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0);
  color: #fff;
}

.brand-nav ul{
  width: 100%;
  height: 100%;
  border: 1px solid orangered;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s linear;
  padding: 0 20px;
}

.brand-nav ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s linear;
  height: 100%;
}

.brand-nav ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;  
}

.brand-nav__item{
  font-size: 13px;
  color: rgba(193, 193, 193, .5);
}

.brand-nav__item:hover{
  color: #fff;
}

.border{
  border: 1px solid white;
}

.brand-nav ul li i{
  margin-left: 6px;
  transition: 0.3s linear;
}

.brand-nav ul li:nth-last-child(1) i{
  color: orangered;
}

.brand-nav ul li img{
  width: 60px;
}

.brand-nav ul li:nth-child(2){
  background: orangered;
  width: 130px;
}

.brand-nav ul li:nth-child(4) {
  width: 130px;
}

.brand-nav ul li:nth-child(2):hover {
  background: orangered;
}

.brand-nav ul li:nth-child(4):hover {
  background: orangered;
}

.brand-nav ul li:nth-child(1) .select_bx{
  position: absolute;
  top: 100%;
  width: 90px;
  height: 0px;
  background: orangered;
  padding: 10px;
  border-radius: 5px;
  z-index: 999999;
  box-shadow: 0px 0px 20px rgb(0, 0, 0,.5);
  overflow: hidden;
  transition: 1s linear;
  opacity: 0;
}

.brand-nav ul li:nth-child(1) .select_bx h5{
  padding: 5px 0;
}

.brand-nav ul li:nth-child(1) .select_bx_active{
  height: 100px;
  opacity: 1;
}

/* второе меню стили */
.brand-nav .li_bx{
  width: 100%;
  height: auto;
  background: orangered;
  padding: 8px 0;
}

.brand-nav .li_bx li{
  color: #fff;
  font-size: 12px;
  transition: 0.3s linear;
  cursor: pointer;
}

.brand-nav .li_bx li:hover{
  color: rgba(0, 0, 0, .5);
}

/* section */
section{
  width: 70%;
  height: auto;
  display: flex;
  border: 1px solid #252525;
  margin: 34px  auto 0px auto;
  background: #fff;
}

section aside , .shoes_bx{
  width: 82%;
  height: auto;
  /* border: 1px solid greenyellow; */
}

section aside{
  width: 18%;
  border: 1px solid rebeccapurple;
}

section .shoes_bx{
  padding: 0 30px;
}

section .shoes_bx nav{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0,.1);
}